@use '../01-settings/' as *;
@use '../02-tools/' as *;

//BLOK
.site-header {
    background: url('../../assets/img/start.jpeg') center/cover fixed;
    height: 100vh;
    position: relative;

    //ELEMENTY wg BEM
    &__blackout{
        position: absolute;
        width: 100%;
        height: 100%;
    }

    &__h1{
        position: absolute;
        bottom: 40%;
        text-align: center;
        width: 100%;
    }

    &__button {
        position: absolute;
        bottom: 15%;
        margin: 0 auto;
        left: 0;
        right: 0;
    }
}